<div class="jumbotron">
  <h1>Welcome to, Flatiron Amusement Park</h1>
  <h2>Powered by Rails</h2>
  <p>Sign Up to enjoy the rides</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
